<!DOCTYPE html>
<html>

<head>
    <%- partial("partials/_meta.ejs", { title: "Getting Started" }) %>
</head>

<body>

<%- partial("partials/_nav.ejs", { title: "Getting Started" }) %>

<%- partial("partials/_breadcumb.ejs", { title: "Getting Started"}) %>

<section class="elements-area section-padding-50">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="page-section-title"Install StreamPipes</h2>
                <h5 style="text-align:center;margin-bottom:15px;">The easiest way to get started is our Docker-based installation.</h5>
                <div class="installation-manual-part">
                    <h5 class="feature-item-margin"><span class="feature-highlights-bg">Prerequisites</span></h5>
                    <h6></h6>
                    <ul>
                        <li><i class="fas fa-check sp-color-green"></i>The Docker-based installation works with Linux, MacOS and Windows 10.
                        </li>
                        <li><i class="fas fa-check sp-color-green"></i> Install <a
                                    href="https://docs.docker.com/install/" target="_blank">Docker</a> and <a
                                    href="https://docs.docker.com/compose/install/" target="_blank">Docker Compose</a>
                        </li>
                        </li>
                    </ul>
                </div>
                <div class="installation-manual-part">
                    <h5 class="feature-item-margin"><span class="feature-highlights-bg">Installation</span></h5>
                            <ul>
                                <%- partial("partials/_download_box.ejs") %>
                                <hr/>
                                <%- partial("partials/_download_folder_linux.ejs") %>
                                <hr/>
                                <%- partial("partials/_download_open_browser.ejs") %>
                                <hr/>
                                <%- partial("partials/_download_link_to_github.ejs") %>
                                <hr/>
                            </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<section class="elements-area section-padding-50 feature-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="page-section-title">Getting Started</h2>
                <div class="installation-manual-part">
                    <h5 class="feature-item-margin"><span class="feature-highlights-bg">How to start</span></h5>
                    <h6></h6>
                    <ul>
                        <li class="installation-step">
                            <div class="row" style="align-items: center;justify-content: center;">
                                <div class="col-md-1 col-3">
                                                    <span class="fa-stack fa-2x">
                                                         <i class="fas fa-circle fa-stack-2x sp-color-green"></i>
                                                         <i class="fas fa-check fa-stack-1x" style="color:white;"></i>
                                                    </span>
                                </div>
                                <div class="col-md-11 col-9">
                                    Check the <a href="https://streampipes.apache.org/docs/docs/user-guide-introduction.html"> user guide</a> and learn how to make your first steps with StreamPipes!
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="installation-manual-part">
                    <h5 class="feature-item-margin"><span class="feature-highlights-bg">Get help</span></h5>
                    <h6></h6>
                    <ul>
                        <li class="installation-step">
                            <div class="row" style="align-items: center;justify-content: center;">
                                <div class="col-md-1 col-3">
                                                    <span class="fa-stack fa-2x">
                                                         <i class="fas fa-circle fa-stack-2x sp-color-green"></i>
                                                         <i class="fas fa-check fa-stack-1x" style="color:white;"></i>
                                                    </span>
                                </div>
                                <div class="col-md-11 col-9">
                                    Ask your question on our <a href="https://github.com/apache/streampipes/discussions">GitHub discussion</a> page.
                                </div>
                            </div>
                        </li>
                        <li class="installation-step">
                            <div class="row" style="align-items: center;justify-content: center;">
                                <div class="col-md-1 col-3">
                                                    <span class="fa-stack fa-2x">
                                                         <i class="fas fa-circle fa-stack-2x sp-color-green"></i>
                                                         <i class="fas fa-check fa-stack-1x" style="color:white;"></i>
                                                    </span>
                                </div>
                                <div class="col-md-11 col-9">
                                    Send an <a href="mailto:users@streampipes.apache.org">email</a> to our mailing list and we'll be glad to help!
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<%- partial("partials/_footer.ejs") %>
</body>

</html>
