<div class="header-banner">
    <div class="header-banner-news">
        <b>StreamPipes has joined the Apache Incubator. Subscribe to our new <a class="banner-link" href="/mailinglists.html">mailing lists</a> to stay up-to-date!</b>
    </div>
    <div style="display: flex; align-items: center;justify-content: flex-end;padding-right:20px;height:40px;">
        <span flex></span>
        <div class="header-social-buttons" style="color:white;">
            <a href="https://www.twitter.com/streampipes" style="color:rgb(27, 20, 100);">
                <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="https://www.github.com/apache/incubator-streampipes" style="color:rgb(27, 20, 100);;">
                <i class="fab fa-github" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</div>

<header class="header-area clearfix">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="menu-area h-100">
                    <nav class="navbar h-100 navbar-expand-lg align-items-center">
                        <a class="navbar-brand" href="/"><img src="/img/sp-logo-color.png" style="height:40px"></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sp-navbar"
                                aria-controls="sp-navbar" aria-expanded="false" aria-label="Toggle navigation"><span
                                    class="navbar-toggler-icon"></span></button>

                        <div class="collapse navbar-collapse justify-content-end" id="sp-navbar">
                            <ul class="navbar-nav animated" id="nav">
                                <li class="nav-item <%= title == 'Home' ? 'active' : '' %>"><a class="nav-link"
                                                                                               href="/">Home</a></li>
                                <ul class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">Why StreamPipes?</a>
                                    <div class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="/features.html">Features</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/usecases.html">Use Cases</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="/technology.html">Technology</a>
                                        </li>
                                    </div>
                                </ul>
                                <li class="nav-item <%= title == 'Download' ? 'active' : '' %>"><a class="nav-link"
                                                                                                   href="/download">Getting
                                        Started</a></li>
                                <ul class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">Resources</a>
                                    <div class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link"
                                                                href="/docs/index.html">Documentation</a></li>
                                        <li class="nav-item"><a class="nav-link"
                                                                href="https://issues.apache.org/jira/projects/STREAMPIPES/">Issue Tracker</a></li>
                                        <li class="nav-item"><a class="nav-link"
                                                                href="http://cwiki.apache.org/confluence/display/STREAMPIPES">Wiki</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/media.html">Slides & Videos</a>
                                        </li>
                                        <li class="nav-item"><a class="nav-link" href="/docs/blog">Blog</a></li>
                                    </div>
                                </ul>
                                <ul class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">Community</a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <li class="nav-item <%= title == 'Mailing lists' ? 'active' : '' %>"><a
                                                    class="nav-link" href="/mailinglists.html">Mailing Lists</a></li>
                                        <li class="nav-item <%= title == 'About' ? 'active' : '' %>"><a class="nav-link"
                                                                                                        href="/team.html">Team</a></li>
                                        <li class="nav-item <%= title == 'Get involved' ? 'active' : '' %>"><a
                                                    class="nav-link" href="/getinvolved.html">Get involved</a></li>
                                        <li class="nav-item <%= title == 'Events' ? 'active' : '' %>"><a
                                                    class="nav-link" href="/meetus.html">Talks & Events</a></li>
                                    </div>
                                </ul>
                                <ul class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">Apache</a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <li class="nav-item"><a class="nav-link" href="https://www.apache.org/">Apache Software Foundation</a></li>
                                        <li class="nav-item"><a class="nav-link" href="https://www.apache.org/foundation/how-it-works.html">How Apache Works</a></li>
                                        <li class="nav-item"><a class="nav-link" href="https://www.apache.org/licenses">License</a></li>
                                        <li class="nav-item"><a class="nav-link" href="https://www.apache.org/foundation/sponsorship.html">Sponsoring Apache</a></li>
                                        <li class="nav-item"><a class="nav-link" href="https://www.apache.org/foundation/thanks.html">Thanks</a></li>
                                    </div>
                                </ul>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>