<!DOCTYPE html>
<html>

    <head>
        <%- partial("partials/_meta.ejs", {title: "Home"}) %>
    </head>

    <body>
        <%- partial("partials/_nav.ejs", {title: "Home"}) %>

        <%- partial("partials/_index-teaser.ejs") %>

        <%- partial("partials/_index-description.ejs") %>

        <%- partial("partials/_index-architecture.ejs") %>

        <%- partial("partials/_index-support-links.ejs") %>

        <%- partial("partials/_footer.ejs", {title: "Home"}) %>

    </body>

</html>